.logo-brand-display {
	display: inline;
	float: left;
}

.navbar-active {
	background-color: #d4a328 !important;
	border-radius: 5px;
}

.navbar-active:hover {
	background-color: #d4a328 !important;
	border-radius: 5px;
}

.bg-mustard {
	background-color: #d4a328 !important;
}

.bg-navbar {
	background-color: azure;
	opacity: 70%;
}
