.youtube-place{
	margin-top: 5px;
	float:right;
}
.clear-float{
	clear: right;
}
.margin-container{
	padding-top: 160px;
}
.padding-top-row{
	margin-top: 10px;
}
.tengah
{
	margin-top: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}