.margin-button-management {
	margin-left: auto;
	margin-right: auto;
}

.kotak-management {
	box-shadow: 7px 3px 7px ghostwhite;
	width: 325px;
	height: 260px;
}

.kotak-management img:hover {
	transform: scale(1.2);
}

div.kotak-management img {
	width: 320px;
	height: 250px;
	padding-left: 10px;
	padding-right: 10px;
}

@media(max-width:415px) {

	div.kotak-management img {
		width: "90%";
		height: "90%";
		padding-left: auto;
		padding-right: auto;
	}

	.kotak-management {
		box-shadow: 10px 3px 7px ghostwhite;
		width: "80%";
		height: "80%";
	}
}

.wrapper-content {
	box-sizing: border-box;
}

.active {
	background-color: skyblue;
}
