#carousel-items img {
	height: 650px;
}

#main-content-homepage img {


	width: 60%;


}

@media(max-width:1028px) {
	.playlist-lagu-position {
		width: 430px;
	}
}

@media(max-width:510px) {
	.playlist-lagu-position {
		width: 200px;
	}
}

@media (max-width: 480px) {
	.text-heading-article {
		color: #228B22;
		font-size: 20px;
		padding-left: 160px;
		padding-right: auto;

	}

	#carousel-items img {
		height: 280px;
	}

	.site-section-heading h2 {
		font-size: 25px;
	}

}
